<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text color="primary">
    <h1>Welcome.</h1>
    <p>Get Started by logging into<br>your ID.</p>
  </ion-text>
  <ion-text color="primary" class='secondtext'>
    <h1>Troll-E</h1>
    <p>It makes your shopping easier<br>by helping you to make your budget<br>more manageable.</p>
  </ion-text>
  <div class='logo'>
    <img src="assets/img/Trolle3.png">
  </div>
  <div class="actions">
    <div>
      <div class="separator">
        <span class="line left"></span>
        <span class="line right"></span>
      </div>
      <ion-button class="login-btn" expand="block" href="/home">Login Now</ion-button>
    </div>
  </div>
</ion-content>