ion-content {
    --background: linear-gradient(90deg, #fc5c7d 0%, #6a82fb 100%);
  }

h1 {
    color: black;
}

h4 {
    color: black;
}

.scan-btn {

    margin-top: 45%;
    padding-left: 30px;
    padding-right: 30px;
}

.cart-btn {
    margin-top: 15%;
    padding-left: 30px;
    padding-right: 30px;
}

.checkout-btn {
    margin-top: 15%;
    padding-left: 30px;
    padding-right: 30px;
}