.splash-animation {
        display: grid;
        align-items: center;
        justify-content: center;
        height: 100%;
   .splash-img {
       img {
           max-width: 200px;
       }
    -webkit-animation: rotate-center 1.5s ease-in-out both;
        animation: rotate-center 1.5s ease-in-out both;
   } 
   @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }    
}