<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="primary"> <p align="center">
      Welcome
    </p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <div class='logo'>
   <img src="assets/img/Trolle3.png">
 </div>

 <div class="form">
  <ion-item lines='none'>
    <ion-input [(ngModel)]='ic' placeholder='IC Number'></ion-input>
  </ion-item>

  <ion-item lines='none'>
    <ion-input [(ngModel)]='password' placeholder='Password' type='password'></ion-input>
  </ion-item>

  <ion-button color='dark' expand='block' shape='round'>Login</ion-button>
</div>
</ion-content>
