<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Troll-E
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

 <div class='logo'>
   <img src="assets/img/Trollelogo.png">
 </div>

 <div class="form">
  <ion-item lines='none'>
    <ion-input placeholder='Enter Your ID'></ion-input>
  </ion-item>

  <ion-item lines='none'>
    <ion-input placeholder='Password' type='password'></ion-input>
  </ion-item>

  <ion-button color='dark' expand='block'>Login</ion-button>
</div>
</ion-content>
