ion-toolbar {
  --background: #ffffff;
}

ion-content {
  --background: linear-gradient(90deg, #fffbd5 0%, #c06c84 100%);
}

.logo{
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 285px;
  height: 137px;
  //border-radius: 50%;
  //overflow: hidden;
  
  img{
    height: 130px;
  }
}

.form{
  margin-top: 15%;
  padding-left: 30px;
  padding-right: 30px;
  ion-item{
    border-radius: 5px;
    border-color: rgb(110, 106, 106);
    border-width: 2px;
    border-style: solid;
    margin-bottom: 10%;
  }
}